.heading1 {
  text-align: center !important;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contactCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.contactCard > img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.contactDetails {
  margin-top: 2%;
}

.iconsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: 100%;
}

.gridLinks {
  width: 10%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  margin-top: 2%;
}

.icons {
  object-fit: contain;
  width: 100%;
}
