.footerStyle {
    background: #0d222e;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    font-family: "League Spartan";
  }
  
  .footerContent {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  
  .footerContentPStyle {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .topFootervideoStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0d222e;
  }
  
  .topFootervideoVideoStyle {
    width: 60%;
  }
  
  .lists {
    list-style-type: none;
    font-size: 120%;
    padding: 2em;
  }
  
  .individualLists {
    margin-top: 0.4em;
  }
  
  .bottomSection {
    background: #1b4242;
    padding: 1em;
  }